<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="UI namenjen upravljanju z registrom OBU" />
    <meta name="author" content="Timotej Nemec, Matej Nosan, Nino Sever" />

    <title th:text="#{app.title}">title</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" th:href="@{/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet" />

    <!-- DataTables CSS -->
    <link href="../vendor/datatables-plugins/dataTables.bootstrap.css" th:href="@{/vendor/datatables-plugins/dataTables.bootstrap.css}" rel="stylesheet" />

    <!-- DataTables Responsive CSS -->
    <link href="../vendor/datatables-responsive/dataTables.responsive.css" th:href="@{/vendor/datatables-responsive/dataTables.responsive.css}" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" th:href="@{/dist/css/sb-admin-2.css}" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav th:replace="fragments/navigation :: navigation"></nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" th:text="#{app.title}">title</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form role="form" th:object="${addCarCommand}" th:action="@{/doCarAdd}" method="post">
                                    <div class="form-group">
                                        <label for="proizvajalec">Proizvajalec</label>
                                        <input type="text" name="proizvajalec" id="proizvajalec" class="form-control" required="true">
                                    </div>

                                    <div class="form-group">
                                        <label for="model">Model</label>
                                        <input type="text" name="model" id="model" class="form-control" required="true">
                                    </div>

                                    <div class="form-group">
                                        <label for="leto">Leto proizvodnje</label>
                                        <input type="number" name="leto" id="leto" class="form-control" required="true">
                                    </div>

                                    <div class="form-group">
                                        <label for="gorivo">Gorivo</label>
                                        <select name="gorivo" id="gorivo" class="form-control">
                                            <option>Diesel</option>
                                            <option>Gasoline</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="vrsta">Vrsta</label>
                                        <select name="vrsta" id="vrsta" class="form-control">
                                            <option>car</option>
                                            <option>truck</option>
                                            <option>bus</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="steviloSedezev">Št. sedežev</label>
                                        <input type="number" name="steviloSedezev" id="steviloSedezev" class="form-control" required="true">
                                    </div>

                                    <a href="/" class="btn btn-danger"> Prekliči</a>
                                    <button type="submit" class="btn btn-primary"> Shrani</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="../vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../vendor/bootstrap/js/bootstrap.min.js" th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../vendor/metisMenu/metisMenu.min.js" th:src="@{/vendor/metisMenu/metisMenu.min.js}"></script>

<!-- DataTables JavaScript -->
<script src="../vendor/datatables/js/jquery.dataTables.min.js" th:src="@{/vendor/datatables/js/jquery.dataTables.min.js}"></script>
<script src="../vendor/datatables-plugins/dataTables.bootstrap.min.js" th:src="@{/vendor/datatables-plugins/dataTables.bootstrap.min.js}"></script>
<script src="../vendor/datatables-responsive/dataTables.responsive.js" th:src="@{/vendor/datatables-responsive/dataTables.responsive.js}"></script>

<!-- Custom Theme JavaScript -->
<script src="../dist/js/sb-admin-2.js" th:src="@{/dist/js/sb-admin-2.js}"></script>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
</script>

</body>

</html>
